@import 'tailwindcss';

html,
body,
#root {
  height: 100%;
}
body {
  margin: 0;
}

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    height: 4px;
    width: 4px;
  }

  .scrollbar::-webkit-scrollbar-track {
    background: rgb(30, 30, 30);
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 999px;
  }

  .scrollbar--hover::-webkit-scrollbar-thumb {
    background: rgba(200, 200, 200, 0.25);
  }

  /* firefox */
  .is-firefox .scrollbar {
    scrollbar-width: thin;
    scrollbar-color: transparent rgb(30, 30, 30);
  }

  .is-firefox .scrollbar--hover {
    scrollbar-color: rgba(200, 200, 200, 0.25) rgb(30, 30, 30);
  }
}
